# 线程池大小，控制异步IO并发
THREAD_POOL_MAX_WORKERS=10

# SESSION本地存储路径
SESSION_STORAGE_PATH="./local_session_data"

# 对话最大Loop数
MAX_LOOP=2

# 后端数据库API
BACKEND_DB_API="http://backend-api/sessions/"

# 知识库服务地址
KNOWLEDGE_BASE_SERVICE_URL=http://your-knowledge-base-service:8002